.button {
    padding: 10px 20px;
    background-color: #3b5978;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.button:hover,
.button:focus {
    background-color: #3b495b;
    box-shadow: 0 5px 15px rgba(5, 5, 5, 0.5);
    transform: translateY(-2px);
}

.button:active {
    background-color: #0d2b66;
    transform: translateY(0);
}
